* {
    margin: auto;
}

#mailContent {
    margin-left: 25%;
    padding: 5%;
    width: 80%;
}

#mailContent h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 32px;
}

#mailDescription {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 17px;
}