* {
    margin: auto;
}

#listContent {
    padding: 5%;
    width: 80%;
}

#listContent h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 32px;
}

#listDescription {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 17px;
}