#pageContent {
    display: flex;
}

#homePageContent {
    margin-left: 25%;
    padding: 5%;
    width: 80%;
}

#homePageContent h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 32px;
}

#homePageContent a {
    text-decoration: none;
    opacity: 0.8;
}

#homePageContent a:hover {
    opacity: 1;
}

#homePageDescription {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 17px;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

#joinMailForm {
    display: flex;
}

#joinMailButton {
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    width: 10%;
}