#homePageContent {
    padding: 5%;
    width: 80%;
}

#homePageContent h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 32px;
}

#homePageContent a {
    text-decoration: none;
    opacity: 0.8;
}

#homePageContent a:hover {
    opacity: 1;
}

#homePageDescription {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 17px;
}